@import url('http://fonts.cdnfonts.com/css/post-no-bills-colombo');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
box-sizing: border-box;
}

/* color variables */
:root {
--primary-color: #000000;
--seconday-color: #624040;

--primary-background: #C2C2C2;
--secondary-background: #FFFFFF;

--font-color-white: #FFFFFF;
--font-color-black: #000000;
}

html {
scroll-behavior: smooth;
overflow-x: hidden;
}

body {
width: 100vw;
min-height: 100vh;
margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
overflow-x: hidden;
scroll-behavior: smooth;

}

title {
font-family: "Math sans bold", sans-serif;
}

.-S {
display: block;
width: 100vw;
height: auto;
}

.-D {
max-width: 1200px;
margin: auto;
}

.landing-container-S{
    position: relative;
}

.landing-container-D{
  margin: 0;
  padding: 0;
  max-width: 4800px !important;
  background-repeat: no-repeat;
  background-size: 100% 70%;
}

.landing-container-bg
{
  margin: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 450px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  background-image: linear-gradient(to bottom, #654242 , #3D2424);  
}

.lc-container{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.lc-c-col{
    margin: 0;
    width: 50%;
}

.lc-c-text{
    color: #FFFFFF;
    text-align: center;
    padding: 220px 0px;
    font-family: 'Open Sans', sans-serif;
}

.lc-c-col h1{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 10px;
}

.lc-c-col p{
    font-size: 20px;
    margin: 0;
}

.lc-c-dbc{
    margin: auto;
}

.lc-c-dropbox{
    width: 400px;
    margin: 180px auto;
    padding: 90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #654242 , #3D2424);
}

.lc-c-dp-btn{
    position:relative;
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #624040;
    margin: auto;
    padding: 10px;
}

.lc-c-dp-btn input{
    height:40px;
    width:150px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;
}

.lc-c-dp-btn p{
    font-size: 14px;
    font-weight: 750;
}

@media only screen and (min-width:480px) and (max-width:960px){
  .lc-c-col{
    width: 100%;
  }

  .lc-container{
    flex-direction: column;
  }

  .lc-c-text{
    padding: 180px 0px 0px 0px;
  }

  .lc-c-dropbox{
    margin: 50px auto;
  }

  .landing-container-bg{
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }
}

@media only screen and (max-width:480px){

  .lc-c-col{
    width: 100%;
  }

  .lc-container{
    flex-direction: column;
  }

  .lc-c-text{
    padding: 150px 0px 0px 0px;
  }

  .lc-c-dropbox{
    margin: 50px auto;
  }

  .landing-container-bg{
    height: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }

  .lc-c-col h1{
    font-size: 30px;
  }

  .lc-c-col p{
    font-size: 15px;
  }

  .lc-c-dropbox{
    width: 300px;
    padding: 50px;
  }
}

.display-container-D{
    max-width: 100vw !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #00000031;
    margin: auto;
    display: none;
    z-index: 20;
    min-height: 100vh;
}

.dc-main{
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-height: 1280px;
}

.dc-main-text{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dc-main-text p{
    color: #624040;
}

  select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    background-color: #624040;
    background-image: none;
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }


  .dc-main-format {
    position: relative;
    display: flex;
    width: 4.3em;
    height: 2em;
    border-radius: .25em;
    overflow: hidden;
    margin: 10px 0px 10px 10px;
  }
  
  .dc-main-format::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em 0.45em;
    color: #fff;
    background-color: #62404000;
    transition: .25s all ease;
    pointer-events: none;
  }
  
  .dc-main-format:hover::after {
    color: #f39c12;
  }

  .dc-file-list{
      margin: auto;
      position: relative;
      width: 225px;
      height: auto;
  }

  .file-list{
    font-family: 'Open Sans', sans-serif;
    color: #624040;
    font-size: 0.8em;
    font-weight: 500;
    list-style-type: none;
    padding:0;
  }

  ul.file-list li{
    border-bottom:1px solid #ddd;
    padding:5px;
  }

  .remove-list{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 0;
    background-color: #624040;
    color: #fff;
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: 1000;
    font-size: 0.75em;
    content: '\00d7';
    cursor: pointer;
    margin-left:10px;
  }

  .dc-cb-zip{
      width: 225px;
      margin: auto;
  }

  .dc-btn{
    width: 80px;
    height: 30px;
    background-color: #624040;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
    padding: 8px;
    text-align: center;
    margin: 0px 30px;
    cursor: pointer;
  }

  .dc-close-btn{
      background-color: #fff;
      border: 1px solid #624040;
      color: #624040;
  }

  @media only screen and (max-width:480px){
    .dc-main{
      width: 300px;
    }
  }

  .slideshow-container {
    position: relative;
    background: #fff;
  }

  .dot-container {
    text-align: center;
    padding: 20px;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .review-container {
    display: none;
    box-shadow: 0px 10px 20px -10px #0000008c;
    margin: 20px 0px;
  }

  .reviews-D {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .reviews-title {
    margin: 0;
  }
  
  .reviews-title h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  
  .reviews-title .reviews-title-underline {
    width: 50px;
    height: 3px;
    background-color: #177a29;
    margin: 0 auto;
  }
  
  .review {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    font-family: "Open Sans", sans-serif;
  }
  
  #reviews-author {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 10px;
  }

  .stars {
    font-size: 30px;
  }

  .fa-star{
    color: #c4c4c4;
  }

  .checked{
    color: #fc0;
  }
  
  #reviews-info {
    font-size: 18px;
    color: #454545;
    font-weight: 400;
    text-align: center;
  }
  
  .btn {
    text-decoration: none;
    border-style: none;
    background-color: #fff;
    font-size: 50px;
    margin: 0px 10px;
    color: #177a29;
    cursor: pointer;
  }

  @media only screen and (max-width:680px){
    .reviews-D{
      width: 300px;
    }
    
  }
  
